/*selecteur universel qui permet de definir la police de tous les textes*/
* {
    font-size: 18px; /* defini la taille de la police universel */
    font-family: Arial; /* defini le style de la police universel */
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

html{
    background-color: rgba(20,20,70,0.3); /* met un background a l'html */
}

body {
    margin: 0; /* positionne le body */
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* Debut Main  */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Debut de la grid 1 */
/* style de la balise de class main-grid */
.main-grid {
    display: grid; /* defini la balise de class main-grid comme une grid */
    position: relative; /* defini comme position relative */
}

/* permet d'afficher la video en background */
#main-video-background {
    position: absolute; /* defini comme position absolute */
    top: 0; /* positionne le background */
    left: 0; /* positionne le background */
    width: 100%; /* defini la largeur du background */
    height: 100%; /* defini la hauteur du background */
    object-fit: cover; /* permet que le background remplice entierement le grid 1 */
    z-index: -1; /* permet de mettre la video en arriere plan */
}

/* style de la balise p de class main-nosdestinations */
.main-nosdestinations {
    padding-top: 150px; /* permet de deplacer a l'endroit voulu */
    font-size: 25px; /* modifie la taille de la police d'ecriture  */
    color: rgb(21, 21, 199); /* donne la couleur au texte */
    text-decoration: underline; /* souligne le texte */
    font-weight: bold; /* met le texte en gras */
    padding-left: 5%; /* permet de placer a l'endroit voulu */
}

/*Debut destinations liste*/
/* permet de modifie chaque element ayant un input de type radio */
input[type="radio"] {
    display: none; /* permet de cacher la puce a cocher */
}

/* permet de positionner et de cacher les textes et images */
.main-slide {
    display: none;
    text-align: center;
}

/* permet de cacher l'image actuelle et d'afficher l'image suivante */
input:checked + .main-slide {
    display: block;
}

/* permet de definir la taille et position des images */
.main-imgdest {
    max-height: 200px; /* defini la hauteur maximale des images */
    width: 35%; /* defini la largeur des images */
    padding-right: 50%; /* positionne la balise de class main-imgdest */
    height: auto; /* hauteur de l'element ajuste automatiquement en fonction du contenu */
}

/* style de la balise de class main-text */
.main-text {
    display: block; /* defini le texte comme block */
    cursor: pointer; /* permet d'afficher le curseur comme un pointeur quand on passe sur la balise de class main-text */
    background: linear-gradient(to top, black, rgba(128,128,128,0)); /* permet d'avoir un background en degrade vers le haut du noir vers du gris a 0 d'opacity */
    color: whitesmoke; /* couleur du texte */
    padding: 10px; /* permet de positionner a l'endroit voulu le texte */
    width: 33.4%; /* donne la largeur au texte */
    margin-left: 7.5%; /* permet de positionner a l'endroit voulu le texte */
    font-size: 18px; /* definie la taille de la police du texte */
}

/*permet de changer l'affichage quand sur telephone*/
@media screen and (max-width: 767px) {
    /*Debut modification de la grid 1 */
    .main-text {
        width:50.9% ; /* permet de definir la nouvelle largeur du texte */
        margin-left: 22%; /* permet de repositionner a l'endroit voulu le texte*/
    }
    .main-imgdest {
        max-height: 115px; /* permet de redefinir la hauteur maximale des images */
        width: 56%; /* permet de redefinir la largeur des images */
        padding-right: 22%; /* permet de repositinner les images comme voulu */
        padding-left: 22%; /* permet de repositionner les images comme voulu */
    }
    .main-nosdestinations {
        top: 80px; /* repositionne la balise de cette class */
    }
    /*Fin modification de la grid 1 */
}

/*permet de changer l'affichage quand sur tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-nosdestinations {
        top: 80px; /* repositionne la balise de cette class */
    }
    .main-imgdest {
        max-height: 150px; /* permet de definir la nouvelle hauteur maximale des images des balises de cette class */
    }
    .main-text {
        width:32.4% ; /* permet de definir la nouvelle largeur du texte */
    }
}
/* Fin destinations liste */

/* Fin de la grid 1 */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* Debut style de la 2eme grid */

/* Debut animation background grid 2 */
.main-grid-2 {
    display: grid; /* defini la balise de class main-grid-2 en tant que grid */ 
    background-size: 400% 400%; /* defini la taille du background pour l'animation */
    background-image: linear-gradient(70deg, white 0%, white 15%, rgba(128,128,128) 30%, white  100%); /* permet d'avoir un background en degrade de 70deg avec certaine valeur associer a des % pour avoir le resultat voulu */
    animation: AnimateBG 20s ease infinite; /* permet de parametrer l'animation (temps, direction,...) */
}
  
@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    90% {
      background-position: 50% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* Fin animation background grid 2 */

/* permet de retirer la puce a cocher de la balise d'id main-destination-bouton*/
#main-destination-bouton {
    display:none;
}

/*permet de mofifier la balise de class main-destination-label*/
.main-destination-label {
    display: block; /* defini comme block */
    cursor: pointer; /* permet d'afficher le curseur comme un pointeur quand on hover la balise de class main-destination-label */
    font-size: 25px; /* definie la taille de la police */
    color: rgb(21, 21, 199); /* donne une couleur au texte */
    text-decoration: underline; /* souligne le texte */
    font-weight: bold; /* met le texte en gras */
    padding-left: 5%; /* positionne le texte a l'endroit voulu */
    padding-top: 50px; /* positionne le texte a l'endroit voulu */
    padding-bottom: 30px; /* positionne le texte a l'endroit voulu */
}

/*permet de cacher la balise p d'id main-destination-text*/
#main-destination-text {
    display: none; /* permet de cacher la balise d'id main-destination-text */
    background-color: lightyellow; /* donne la couleur du background */
    border: 1px solid black; /* permet d'avoir une border */
    margin-right: 50%; /* positionne le texte a l'endroit voulu */
    margin-left: 1%; /* positionne le texte a l'endroit voulu */
    padding-left: 1%; /* positionne le texte a l'endroit voulu */
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.3); /* creer une ombre au background */
    padding: 10px 20px; /* augmente la distance entre le texte et la bordure */
    border-radius: 20px; /* donne la courbure de la border */
}

/*permet d'afficher la balise p d'id main-destination-text ainsi que son background quand on click sur la balise d'id main-destination-label*/
#main-destination-bouton:checked + .main-destination-label + #main-destination-text {
    display: block;
}

/*permet de retirer le underline de la balise main-destination-label quand on click sur cette derniere*/
#main-destination-bouton:checked + .main-destination-label {
    text-decoration: none;
    padding-bottom: 0;
}

q::before {
    content: "«"; /* permet d'inserer un guillemet quand debut de balise q (<q>) grace au pseudo-element before*/
}
q::after {
    content: "»"; /* permet d'inserer un guillemet quand fin de balise q (</q>) grace au pseudo-element after*/
}

/*permet de changer l'affichage quand sur telephone*/
@media screen and (max-width: 767px) {
    #main-destination-text {
        margin-right: 5%; /* positionne le texte a l'endroit voulu */
        margin-left: 5%; /* positionne le texte a l'endroit voulu */
    }
}

/*permet de changer l'affichage quand sur tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main-destination-text {
        margin-right: 20%; /* positionne le texte a l'endroit voulu */
        margin-left: 5%; /* positionne le texte a l'endroit voulu */
    }
}
/* Fin style de la 2eme grid */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* Fin Main  */