.conteneur{ /* nous une couleurs au background de la grille*/
    background-color: rgb(255, 247, 228); 
}

@media screen and (min-width: 767px) {  /* ici on initialise une grille pour le format ordinateur */
    .conteneur{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 colones */
        grid-template-rows: repeat(5, auto);  /* 5 lignes */
        grid-template-areas: 
            "titre titre"
            "caroussel description"
            "formules formules"
            "container2 map"
            "hotels hotels";
        grid-gap : 5px;  /* un ecart de 5px entre les lignes */
    }
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 21%; /* Fixe la barre à a peut près au milieu de la fenetre */
    right: 0%; /* Fixe la barre latérale à gauche de la fenêtre */
    width: 115px; /* Ajuste la largeur de la barre latérale selon tes besoins */
    border : 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    opacity: 0.7;
    transition: opacity 0.5s ease;
    box-shadow: 1px 1px;
    z-index: 10;
    /* ... */
}

.sidebar ul{
    position: relative;
    left: -20%;
}
.sidebar h3{
    position: relative;
    left: 26%;
}

.sidebar a{
    text-decoration: none;  /* Les liens ne sont plus soulignés */
    color : #000;    /* les liens ne sons plus bleu mais noir */
}

.sidebar:hover{
    opacity: 1;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth; /* Nous permettre que lorsqu'on clique sur un lien la transition ne se fait pas brulament mais en voyant défiler la page. */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, darkgreen, rgb(9, 167, 0));  /* dégradé de couleur au fond décrand */
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.conteneur-destination{ /*position pour le titre "Machu Picchu"*/
    grid-area: titre; /*Ici on place avec l'aide du grid-area dans la grille conteneur*/
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
  
.conteneur-destination h1{ /*Style pour le titre "Machu Picchu"*/
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
  
.conteneur-destination p{ /* On définis la taille de la police */
    font-size: 20px;
}



/*----------------------------------------------------------------------------------------------------------------------------*/

.caroussel { /* Ici on va effectuer un diaporama d'image */
    max-width: 500px;
    margin: 3%;  /* on défini le margin */
    margin-right: 2%;
    overflow: hidden; /* cacher lorsque les images dépasse du conteneur */
    border-radius: 15px;  /* on arrondi les bord */
}
  
.caroussel .slider { /* on effectue une animation de manière à se que les images déffiles de droite à gauche comme un diaporama d'iamge */
    animation: slider-1 17s infinite ease-in-out; /*animation durrée */
    display: flex; /* position flex de manière à pouvoir manipuler les images */
}
  
.slider img{
    flex-shrink: 0; /*défini comment les images vont se réduire par rapport au conteneur */
    width: 100%;
}
  
@keyframes slider-1 {  /*initialisation de l'animation */
    0%,
    28% {
      transform: translateX(0);
    }
    33%,
    62% {
      transform: translateX(-100%);
    }
    66%,
    95% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-300%);
    }
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.desc { /* ici on va mettre en page le contenue de la description */
    grid-area: description;
    display: flex;
    flex-wrap: wrap; /* felx-warp sert a mettre à la ligne le contenue en fonction du conteneur */
    margin: 30px auto;
    max-width: 1100px;
    padding: 2%;
}
.desc {
    overflow: hidden; /* cacher lorsque les images dépasse du conteneur */
    word-wrap: break-word; /*Les mots vont 
    flex: 1; /* Permet au texte de prendre 50% de la largeur du conteneur */
    padding: 2%;
    border: 1px solid transparent;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
  
  
.desc:hover{ /* fait un déplacement lorsque survolé */
    transform: translateY(-2px) translateX(-1px);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
}
  
/* Pour styliser le texte*/
.desc p{
    margin: 10px; /* Exemple de marge autour du paragraphe */
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.formule-title{ /*style pour le titre 'formule' */
    margin: 10px;
    grid-area: formules;
    text-align: center; /*centré*/
    border: 1px solid transparent;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.formule-title:hover{/* quand survolé */
    transform: translateY(2px) translateX(1px);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/* Styles pour le contrôle de l'affichage des formules */
.toggle {
    display: none;
}

.formule1-2 {
    text-align: center;
    grid-area: container2; /* dans la case container2 de la grille*/
}

/* Ajouter une bordure au contenu des formules */
#toggleFormule1:checked ~ .container2,
#toggleFormule2:checked ~ .container3 {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto; /* Centrer horizontalement */
    max-width: 600px; 
}

/* Afficher les boutons comme des étiquettes */
.toggle-button {
    cursor: pointer;
    user-select: none; /* pour empêcher la sélection de texte */
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

/* Cacher le contenu des détails par défaut */
.container2,
.container3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* Afficher le contenu quand la case est cochée */
#toggleFormule1:checked ~ .container2,
#toggleFormule2:checked ~ .container3 {
    max-height: 1000px;
}


/* Afficher le contenu quand la case est cochée et styliser le bouton */
#toggleFormule1:checked ~ .container2 + .toggle-button,
#toggleFormule2:checked ~ .container3 + .toggle-button {
    background-color: #e0e0e0;
    font-weight: bold;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

.carte { /* style pour la carte de cusco*/
    grid-area: map; /* dans la case map de la grille */
    display: flex;
    position: relative;
    align-items: center;
    max-width: 48%; /* Limite la largeur */
    margin: auto;
    transition: transform 0.3s ease;
    height: auto;
    width: auto;
}

  
.carte:hover { /*lorsque la carte est survolé la taille s'agrandi */
    transform: scale(1.1);
    border-radius: 10px;
}


/* Media queries pour différents écrans */


/*----------------------------------------------------------------------------------------------------------------------------*/
.corps{ /*pour faire les bordures vertes sur le coté */
    margin: 0 9% 0 9% ;
}

.body{ /* fond de couleur vert foncé dégradant vers le vert */
    background-color: linear-gradient(to bottom right, darkgreen, green)  ;
}

@media only screen and (max-width: 600px) { /* enlève les bordures au format tééphone */

    .corps{
      margin:0px;
    }
  
}


/*----------------------------------------------------------------------------------------------------------------------------*/
.hotels{ /* dans la case hotels de la grille */
    grid-area: hotels;
}

/* Style du titre de la section des hôtels */
.hotels .hotel-title{
    text-align: center;
    margin: 10px;
    grid-area: formules;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
/* Au survol du titre, applique une légère animation de transformation et d'ombre */
.hotels .hotel-title:hover{
    transform: translateY(2px) translateX(1px);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
}

/* Supprime les espacements entre les cellules du tableau */
.hotels table{
    border-collapse: collapse;
}
/* Style des lignes et des cellules du tableau des hôtels */
.hotels tr{
    border-bottom: 10px double black; /* Ajoute une ligne noire en bas de chaque ligne du tableau */
}

.hotels td{
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}
/* Au survol d'une cellule, applique une animation de changement de couleur */
.hotels td:hover{
    background-color: white;
    animation: bg-tr-hover-anim 4s infinite;
}
/* Animation de changement de couleur pour les cellules du tableau */
@keyframes bg-tr-hover-anim {
    0%{
    background-color: white;
    }
    50%{
    background-color: gainsboro;
    }
    100%{
    background-color: white;
    }
    
}
/* Style des en-têtes de colonnes du tableau */
.hotels th{
    border: 2px solid black;
    border-radius: 3px;
}

/* Ajustement de la largeur des images des hôtels dans le tableau */
.hotels img{
    width: 250px;
}

@media only screen and (max-width: 767px) { /* Pour le format téléphone */
    /* Cache la colonne des images des hôtels */
    td:nth-child(1) {
        display: none;
    }

    /* Ajuste le style des autres colonnes afin d'avoir une meilleure lisibilité */
    td:nth-child(2) {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }

    /* Cible la première ligne (entête) pour la cacher également */
    th:nth-child(1) {
        display: none;
    }

}
/* Style du bouton pour accéder au formulaire */
.conteneur-bouton-formulaire button{
    display: flex;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-image: linear-gradient(to bottom right, darkgreen, green);
    border-image-slice: 1;
    border-radius: 6px;
    padding: 5px 10px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  /* Style du lien dans le bouton */
  .conteneur-bouton-formulaire a{
    text-decoration: none;
    color: #000;
  }
  /* Au survol du bouton, applique une légère animation de transformation */
  .conteneur-bouton-formulaire button:hover{
    transform: translateY(1px) translateX(1px);
    box-shadow: none;
  }
/*----------------------------------------------------------------------------------------------------------------------------*/