.conteneur{
    background-color: rgb(255, 247, 228);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "image  image"
        "caroussel description"
        "formules formules"
        
        "container2 container2"
        "hotels hotels";
    grid-gap : 5px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 45%; /* Fixe la barre à a peut près au milieu de la fenetre */
    left: 2%; /* Fixe la barre latérale à gauche de la fenêtre */
    width: 150px; /* Ajuste la largeur de la barre latérale selon tes besoins */
    border : 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    opacity: 0.1;
    transition: opacity 0.5s ease;
    box-shadow: 1px 1px;
    z-index: 10;
    /* ... */
}

.sidebar h3{
    position: relative;
    left: 33%;
}

.sidebar a{
    text-decoration: none;  /* Les liens ne sont plus soulignés */
    color : #000;    /* les liens ne sons plus bleu mais noir */
}

.sidebar:hover{
    opacity: 1;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
html {
    scroll-behavior: smooth; /* Nous permettre que lorsqu'on clique sur un lien la transition ne se fait pas brulament mais en voyant défiler la page. */
    background-color: darkgreen;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
.image-top {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Pour cacher le dépassement de l'image */
    height: 4fr; /* Ajuste la hauteur de la zone image-top */
}


.image-top img {
    width: auto; /* La largeur de l'image s'ajustera automatiquement en fonction de la hauteur */
    max-height: 100%; /* La hauteur maximale de l'image est fixée à 100% de la hauteur du conteneur */
    display: block; /* Assure-toi que l'image se comporte correctement dans le conteneur */
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.caroussel {
    max-width: 500px;
    margin: auto;
    margin-right: 2%;
    overflow: hidden;
    border-radius: 15px;
}
  
.caroussel .slider {
    animation: slider-1 17s infinite ease-in-out;
    display: flex;
}
  
.slider img{
    flex-shrink: 0;
    width: 100%;
}
  
@keyframes slider-1 {
    0%,
    28% {
      transform: translateX(0);
    }
    33%,
    62% {
      transform: translateX(-100%);
    }
    66%,
    95% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-300%);
    }
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.desc{
    grid-area: description;
    border: 1px solid green;
}

.desc p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border:2px solid black;
    background-color:white;
    padding: 5px;
    border-radius : 20px;
    box-shadow: 3px 3px 3px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.formule-title{
    grid-area: formules;
    border: 1px solid black;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.formule1-2{
    grid-area: container2;
}

.container2 {
    display: flex;
    flex-direction: row;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    align-items: center;
}
  
.formule {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 20px;
    width: 90%; /* Ajustez la largeur selon vos besoins */
    box-sizing: border-box;
    display: none;
    margin: 5px auto;

}
  
.toggle {
    display:none;
}
  
.toggle-button {
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
}
  
.toggle:checked ~ .container2 {
    max-height: 1000px; /* Changez cette valeur en fonction de votre contenu */
    transition: max-height 0.5s ease-in-out;
}
  
#toggleFormule1:checked ~ .container2 .formule1,
#toggleFormule2:checked ~ .container2 .formule2 {
    display: block;
}
  

/*----------------------------------------------------------------------------------------------------------------------------*/
.corps{
    margin: 0 9% 0 9% ;
}

.body{
    background-color: linear-gradient(to bottom right, darkgreen, green)  ;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.hotels{
    grid-area: hotels;
}

.hotels table{
    border-collapse: collapse;
}

.hotels tr{
    border-bottom: 10px double black;
}
.hotels td{
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}
.hotels td:hover{
    background-color: white;
    animation: bg-tr-hover-anim 4s infinite;
}

@keyframes bg-tr-hover-anim {
    0%{
    background-color: white;
    }
    50%{
    background-color: gainsboro;
    }
    100%{
    background-color: white;
    }
    
}

.hotels th{
    border: 2px solid black;
    border-radius: 3px;
}
.hotels img{
    width: 250px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/