/* Styles généraux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8d0303;
  }

main {
    border-left: 1px solid #000; /* Bordure côté gauche */
    border-right: 1px solid #000; /* Bordure côté droit */
    padding: 0 50px; /* Marge intérieure sur les côtés */
}
/*--------------------------------------------------------------------------*/

  
/* Style du header */
header {
  /* Dégradé linéaire du haut (#333) vers le bas (transparent) pour le fond du header */
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/*--------------------------------------------------------------------------*/

  
/* Style du lien du header */
#agence {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}
/*--------------------------------------------------------------------------*/

.corps{
  background-color: white;
}

/* Styles pour le contenu principal */

/* Le programme */
.conteneur-programme {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  max-width: 1100px;
  padding: 2%;
}

.image-deffilante {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  flex: 1; /* Permet à l'image de prendre 50% de la largeur du conteneur */
}

/* Pour ajuster la taille de l'image */
.image-deffilante img {
  max-width: 85%; /* Pour que l'image s'adapte à la taille du conteneur */
  height: auto;
  border-radius: 5px;
}

.programme {
  flex: 1; /* Permet au texte de prendre 50% de la largeur du conteneur */
  padding: 2%;
  border: 1px solid transparent;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.programme:hover{
  transform: translateY(-2px) translateX(-1px);
}

/* Pour styliser le texte, par exemple, si tu veux lui donner une marge */
.programme p, .programme h3, .programme ul{
  margin: 10px; /* Exemple de marge autour du paragraphe */
}
/*--------------------------------------------------------------------------*/

/*La Description*/
.conteneur-description {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  max-width: 1100px;
}


.conteneur-texte {
  flex: 1 0 50%; /* Fait en sorte que le conteneur-texte prenne la moitié de la largeur et ne soit pas redimensionné */
  max-width: 50%; /* Limite la largeur du conteneur texte */
  text-align: left;
  padding: 20px;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.description-texte, .conteneur-description h3, .conteneur-description ul {
  text-align: left;
}

.carte {
  flex: 1 0 50%; /* Fait en sorte que la carte prenne la moitié de la largeur et ne soit pas redimensionnée */
  max-width: 40%; /* Limite la largeur de la carte */
  padding-top: 40%; /* Définit la hauteur de la carte comme étant égale à 50% de sa largeur */
  position: relative;
  overflow: hidden;
}

#carte-sichuan {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

#carte-sichuan:hover{
  transform: scale(1.02);
}

/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/* Style du footer */
footer {
  background-color: #333; /* Couleur de fond de secours */
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligner les éléments en haut */
  flex-wrap: wrap;
}

  
/* Style des icônes sociales */
#socialicon {
  list-style: none;
  margin-top: 3%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer verticalement */
}

  
#socialicon img {
  width: 45px;
  height: 45px;
  margin: 10%;
}
  
/* Style des informations de contact */
#joindre {
  flex: 1 1 300px;
  margin: 0;
  padding: 0;
  list-style-type: square; /* Utiliser des points pour la liste */
}
  
#joindre dt {
  font-weight: bold;
  margin-top: 10px;
}
  
#joindre dd {
  margin-bottom: 10px;
  line-height: 1.5;
}
  
/* Style de la carte */
footer iframe {
  width: 200px;
  height: 150px;
  border: 0;
  margin-left: auto; /* Aligner la carte à droite */
}